<div class="container">
    <div class="mat-headline" >
        All Placed Orders
    </div>
    
    <table mat-table [dataSource]="dataSource" class="tablearea">
        <ng-container matColumnDef="useremail">
            <th class="tableheader" mat-header-cell *matHeaderCellDef>Ordered By</th>
            <td mat-cell *matCellDef="let element">{{element.useremail}}</td>
        </ng-container>
    
        <ng-container matColumnDef="product_name">
            <th class="tableheader" mat-header-cell *matHeaderCellDef>Product Name</th>
            <td mat-cell *matCellDef="let element">{{element.product_name}}</td>
        </ng-container>
    
        <ng-container matColumnDef="product_amount">
            <th class="tableheader" mat-header-cell *matHeaderCellDef>Amount</th>
            <td mat-cell *matCellDef="let element">{{element.product_amount}}</td>
        </ng-container>
    
        <ng-container matColumnDef="product_quantity">
            <th class="tableheader" mat-header-cell *matHeaderCellDef>Quantity</th>
            <td mat-cell *matCellDef="let element">{{element.product_quantity}}</td>
        </ng-container>
    
        <ng-container matColumnDef="order_totalamount">
            <th class="tableheader" mat-header-cell *matHeaderCellDef>Total Amount</th>
            <td mat-cell *matCellDef="let element">{{element.order_totalamount}}</td>
        </ng-container>
    
        <ng-container matColumnDef="ordered_on">
            <th class="tableheader" mat-header-cell *matHeaderCellDef>Ordered On</th>
            <td mat-cell *matCellDef="let element">{{element.ordered_on | date: 'dd/MM/yy hh:mm:ss'}}</td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
    </table>
    </div>